<!DOCTYPE html>
<html>
  <head>
    <title>Facebookclone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <p>FacebookCloneだよ。cloneだよ。</p>
    </header>
    <%= yield %>
    <footer>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <% if logged_in? %>
      <ul>
        <li><%= link_to "ユーザ詳細", user_path(current_user.id) %></li>
        <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
      </ul>
      <% else %>
      <ul>
        <li><%= link_to "ユーザ登録", new_user_path %></li>
        <li><%= link_to "ログイン", new_session_path %></li>
      </ul>
      <% end %>
      <p>Rails課題だよ</p>
    </footer>
  </body>
</html>